<% if @user.errors.any? %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
<div class="form">
    <%= form_for @user do |f| %>
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, class: 'input' %>

        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, class: 'input' %>

        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, class: 'input' %>

        <%= f.submit class: 'button is-outlined is-link' %>

    <% end %>
</div>