<p id="notice"><%= notice %></p>

<h2>
    <strong>Name:</strong>
    <%= @preset.name %>
</h2>

<% unless preset_is_users?(@preset) %>
    <p>
        <strong>User:</strong>
        <%= @preset.user.email %>

        <% (1..5).each do |i| %>
            <a><i class="far fa-star"></i></a>
        <% end %>
    </p>
<% end %>

<canvas id="myCanvas">
</canvas>
<br>
<form action="#">
    <p class="range-field">
        <input type="range" id="test5" min="0" max="100"/>
    </p>
</form>

<% if preset_is_users?(@preset) %>

    <%= link_to 'Save Preset', edit_preset_path(@preset) %> |
    <%= link_to 'Back', presets_path %>

<% elsif @current_user.present? %>
    <%= link_to 'Fork Preset', presets_path(@preset, preset: { name: @preset.name, user_id: @current_user.id }, format: :html), method: 'post' %>
    |
    <%= link_to 'Back', presets_all_path %>
<% else %>

    <%= link_to 'Create account to fork settings!', new_user_path %>
    <%= link_to 'Back', presets_all_path %>


<% end %>
<br>
<% if @preset.ratings.present? %>
    <p>Avg Rating: <%= render 'stars', preset: @preset %></p>
<% end %>
<h3>Comments: [<%= @preset.comments.size %>]</h3>
<% if @current_user.present? %>
    <%= form_with(model: new_comment, local: true) do |form| %>
        <div class="field">
            <%= form.label :comment %>
            <%= form.text_area :comment %>
        </div>
        <div class="field">
            <%= form.hidden_field :user_id, id: @current_user.id, value: @current_user.id %>
        </div>
        <div class="field">
            <%= form.hidden_field :preset_id, id: @preset.id, value: @preset.id %>
        </div>
        <div class="actions">
            <%= form.submit 'Add Comment', class: 'btn' %>
        </div>
    <% end %>
<% end %>
<hr>
<% @preset.comments.each do |comment| %>
    <div class="comment">
        <h4>By: <%= comment.user.email %></h4>
        <p><%= comment.comment %></p>
    </div>
    <hr>
<% end %>



